@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 style="font-size:60px;">F1 Results - 2020</h1>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">POS</th>
            <th scope="col">Driver</th>
            <th scope="col">Nationality</th>
            <th scope="col">Car</th>
            <th scope="col">PTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lewis Hamilton</td>
            <td>United Kingdom</td>
            <td>Mercedes</td>
            <td>...</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Lewis Hamilton</td>
            <td>United Kingdom</td>
            <td>Mercedes</td>
            <td>...</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Lewis Hamilton</td>
            <td>United Kingdom</td>
            <td>Mercedes</td>
            <td>...</td>
        </tr>
    </tbody>
</table>